.nav-bar {
  width: 60px;
  background: #13313d;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 10;

  .logo {
    display: block;
    padding: 10px 0;

    img {
      width: 24px;
      display: block;
      margin: 10px auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }
}

nav {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;

  a {
    font-size: 20px;
    display: block;
    line-height: 50px;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #71c9ce;

      svg {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      font-size: 10px;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      letter-spacing: 2px;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    &:first-child {
      &::after {
        content: "Home";
        top: 0px;
      }
    }
  }

  a.about-link {
    &::after {
      content: "About";
      top: 50px;
    }
  }

  a.contact-link {
    &::after {
      content: "Contact";
      top: 100px;
    }
  }

  a.project-link {
    &::after {
      content: "Project";
    }
  }

  a.active {
    svg {
      color: #71c9ce;
    }
  }
}

ul {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;

  li {
    padding: 6px 0;
    font-size: 15px;

    a {
      &:hover svg {
        color: #71c9ce;
      }
    }
  }
}
